@model IEnumerable<MVCProject.Models.Ogrenci>

@{
    ViewBag.Title = "Goster";
}

<h2>Goster</h2>

<p>
    @Html.ActionLink("Yeni Kayıt Ekle", "Goster")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Soyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TcNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BolumAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KayitYili)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EpostaAdresi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DogumYeri)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Soyad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TcNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BolumAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KayitYili)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EpostaAdresi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DogumYeri)
        </td>
        <td>
            @Html.ActionLink("Güncelle", "Guncelle", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
